<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
      <link href="{% static "foundation/css/foundation.css" %}" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href="/static/foundation/css/app.css" rel="stylesheet"/>

  <script src="js/vendor/modernizr.js"></script>

  <title>Add A Stock - TickerWatch</title>
  </head>

  <body>
    <div class="row">
    <div class="large-5 columns" id="front">
      <a href='/tickerwatch/'>
      <img height="400px" width="400px" src="{% static "foundation/img/tickerwatch.png" %}">
    </a>
    </div>
    <div class="large-7 columns" style="padding-top: 130px; padding-left: 50px">

    <h2>Add A Stock</h2>
    {% if stock_added %}
    <div class="flashmessage">
    <strong style="color: green">Stock added!</strong></div><br />
    {% elif already_added %}
    <div class="flashmessage">
    <strong style="color: rgba(209, 44, 44, 1)">Stock already in portfolio, try another!</strong></div><br />
    {% endif %}

    <form id="stock_form" method="post" action="/tickerwatch/add_stock/"
          enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Display each form. The as_p method wraps each element in a paragraph
           (<p>) element. This ensures each element appears on a new line,
           making everything look neater. -->
      {{ stock_form.as_p }}

      <!-- Provide a button to click to submit the form. -->
      <input type="submit" class="button" style="margin-left: 0; width:500px" name="submit" value="Add Stock to Your Portfolio" />
    </form>

    <a style="margin-left: 10px" href="/tickerwatch/">Return to the homepage.</a><br />
  </div>
  </div>
  </body>
</html>
