<!DOCTYPE html>
<html>
  <head>
      <title>TickerWatch</title>
  </head>

  <body>
    <h1>Add a Stock</h1>

    <a href="/tickerwatch/">Return to the homepage.</a><br />
    {% if stock_added %}
    <strong>Stock Added!</strong><br />
    {% elif already_added %}
    <strong>Stock Already Added!</strong><br />
    {% endif %}
    <strong>Add a Stock</strong><br />

    <form id="stock_form" method="post" action="/tickerwatch/add_stock/"
          enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Display each form. The as_p method wraps each element in a paragraph
           (<p>) element. This ensures each element appears on a new line,
           making everything look neater. -->
      {{ stock_form.as_p }}

      <!-- Provide a button to click to submit the form. -->
      <input type="submit" name="submit" value="add_stock" />
    </form>
  </body>
</html>
