<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
  <link href="{% static "foundation/css/foundation.css" %}" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href="/static/foundation/css/app.css" rel="stylesheet"/>

  <script src="js/vendor/modernizr.js"></script>

  <title>{% block title %}TickerWatch{% endblock title %}</title>
    </head>

    <body>
        <div class="row">
          <div class="large-5 columns" id="front">
      <img height="400px" width="400px" src="{% static "foundation/img/tickerwatch.png" %}">
          </div>
         <div class="large-7 columns" style="padding-top: 115px; padding-left: 50px">
        <h2 style="text-align: left; margin-left: 10px">Sign In</h2>

        <form id="login_form" method="post" action="/tickerwatch/login/">
            {% csrf_token %}
            <label>Username:</label> <input type="text" name="username" value="" size="50" />
            <label>Password:</label> <input type="password" name="password" value="" size="50" />

            <input class="button" style="margin-left: 0px; margin-top: 10px" type="Submit" value="Submit" />
        </form>
    </div>
    </div>
    </body>
</html>
