<!DOCTYPE html>
{% load staticfiles %}
<html>
 <head>

  <link href="{% static "foundation/css/foundation.css" %}" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href="/static/foundation/css/app.css" rel="stylesheet"/>

  <script src="js/vendor/modernizr.js"></script>

  <title>{% block title %}TickerWatch{% endblock title %}</title>

</head>

  <body>
    <div class="row">
    <div class="large-5 columns" id="front">
      <a href='/tickerwatch/'>
      <img height="400px" width="400px" src="{% static "foundation/img/tickerwatch.png" %}">
    </a>
    </div>
    <div class="large-7 columns" style="padding-top: 80px; padding-left: 50px">
    {% if registered %}
    <div style="font-size: 2rem; margin-top: 160px;">
    <strong style="margin-left:10px">Thank you for registering!</strong>
    </div>
    <br />
    <a href="/tickerwatch/" style="margin-left:10px;font-size:1.5rem">Return to the homepage.</a><br />
    {% else %}
    <h2>Create a TickerWatch Account</h2>

    <form id="user_form" method="post" action="/tickerwatch/register/"
          enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Display each form. The as_p method wraps each element in a paragraph
           (<p>) element. This ensures each element appears on a new line,
           making everything look neater. -->
      {{ user_form.as_p }}
      {{ profile_form.as_p }}

      <!-- Provide a button to click to submit the form. -->
      <input class="button" style="margin-left: 0px; width:500px" type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
  </div>
</div>
  </row>
  </body>
</html>
